@import "tailwindcss";

:root {
  --background: #f7f7fb;

  --foreground: #1e293b;
}

* {
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
}

body {
  margin: 0;

  background:
    radial-gradient(
      circle at top left,
      rgba(196, 181, 253, 0.35),
      transparent 25%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(125, 211, 252, 0.3),
      transparent 25%
    ),
    linear-gradient(
      to bottom,
      #fcfcff,
      #f5f7ff
    );

  color: var(--foreground);

  font-family:
    var(--font-inter);

  overflow-x: hidden;
}

button,
input {
  font: inherit;
}

::selection {
  background:
    rgba(167, 139, 250, 0.3);
}